<%- include ("../partials/header") %>
    <link rel="stylesheet" href="/css/reg-login.css">
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content mt-5">
                    <form method="POST" id="registerEmployer" class="signup-form" action="/register/employer">
                        <h2 class="form-title">Create Employer Account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="employerName" id="employerName" placeholder="Your Name" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="companyName" id="companyName" placeholder="Company Name" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="username" id="username" placeholder="Your Corporate Email" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password" required/> 
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="confirmPassword" id="confirmPassword" placeholder="Repeat your password" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="contactNumber" id="contactNumber" placeholder="Contact Number" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="location[poBox]" id="poBox" placeholder="P.O Box" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="location[city]" id="city" placeholder="City" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="location[country]" id="country" placeholder="Country" required/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Already have an account ? <a href="/login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/reg-login.js"></script>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
<%- include ("../partials/footer") %>