<%- include ("../partials/header") %>
    <link rel="stylesheet" href="/css/reg-login.css">
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content mt-5">
                        <h2 class="form-title">Join BlockDegree</h2>
                        <div class="form-group">
                            <form action="/register/student" method="GET">
                                <input type="submit" class="form-submit" value="Are you a Student?"/>
                            </form>
                            <form action="/register/employer" method="GET" class="mt-3">
                                <input type="submit" class="form-submit" value="Are you an Employer?"/>
                            </form>
                            <form action="/register/university" method="GET" class="mt-3">
                                <input type="submit" class="form-submit" value="Are you a University?"/>
                            </form>
                            
                        </div>
                    </form>
                    <p class="loginhere">
                        Already have an account ? <a href="/login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/reg-login.js"></script>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
<%- include ("../partials/footer") %>