<%- include ("../partials/header") %>
<div class="p-4 text-center" style="background-color: gainsboro;">
    <div class="d-inline-block">
    </div>
    <h1 class="display-5 d-inline-block">Sign Up</h1>
</div>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col">
            <a href="/register/student" class="btn btn-outline-info w-100 p-4 rem1-25">
                <!-- <i class="fas fa-stamp mr-2"></i></i> -->
                Are you a Student?</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="/register/employer"
                class="btn btn-outline-info w-100 p-4 rem1-25">
                <!-- <i class="fas fa-file-alt mr-2"></i> -->
                Are you an Employer?</a>
        </div>
    </div>
</div>

<%- include ("../partials/footer") %>