    <footer id="sticky-footer" class="bg-dark text-white-50 pt-4 text-center mt-0">
        <!-- <div class="container text-center"> -->
        Copyright &copy; BlockDegree
        <!-- </div> -->
    </footer>

    <script src="/js/universityDashboardFunctions.js"></script>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper-1.16.0.min.js"></script>
    <script src="/js/bootstrap-4.4.1.min.js"></script>

</body>

</html>