<%- include ("./partials/header") %>
<link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

<!-- Custom styles for this template -->
<link href="/css/landing-page.css" rel="stylesheet">

<!-- Masthead -->
<header class="masthead text-white text-center"
    style="background: url('images/landing-page/bg-blockchain2.jpg') no-repeat center center; background-color: black;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Blockchain Verified Degrees You Can Trust</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mx-auto">
                <button class="btn btn-block btn-lg btn-primary">Learn more</button>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>Access from anywhere</h3>
                    <p class="lead mb-0">Escape hard-copy and view your verified digital degree on the web</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-share m-auto text-primary"></i>
                    </div>
                    <h3>Share Degrees Easily</h3>
                    <p class="lead mb-0">Share verified degrees with interviewers spontaneously</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>No more attestation</h3>
                    <p class="lead mb-0">Your degree is verified and authentic everywhere from the moment its awarded to
                        you. Our blockchain network has trust built-in</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('images/landing-page/student-graduate.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>For Students</h2>
                <p class="lead mb-0">Access all your degrees from different member Universities in one place, all
                    verified by Blockchain Technology</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                style="background-image: url('images/landing-page/interview.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>For Employers</h2>
                <p class="lead mb-0">Rest assured that degrees shared with you on our platform are authentic and require
                    no attestation thanks to the use of Blockchain Technology.

                    Onboard new hires faster rather than wait for them to verify their credenitials.
                    Seamless. Fast. Faster hiring cycles. Instantenous. Less administrative costs and follow up
                    communication with applicants.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('images/landing-page/degree.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>For Universities</h2>
                <p class="lead mb-0">Improves the verifiabilty and authenticity of awarded degrees internationally! Join
                    a growing consortium network of Universities where trust is built among universities through
                    transparency</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<!-- <section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/landing-page/testimonials-1.jpg" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/landing-page/testimonials-2.jpg" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super
                        nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="images/landing-page/testimonials-3.jpg" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Call to Action -->
<section class="call-to-action text-white text-center"
    style="  background: url('images/landing-page/bg-masthead.jpg') no-repeat center center;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Learn more about blockchain technology</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mx-auto">
                <button class="btn btn-block btn-lg btn-primary">Join BlockDegree</button>
            </div>
        </div>
    </div>
    </div>
</section>

<%#- include ("./partials/footer") %>


<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <!-- <li class="list-inline-item">&sdot;</li> -->
                    <!-- <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li> -->
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; BlockDegree 2020</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap-4.4.1.min.js"></script>
</body>

</html>