/* Montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/montserrat/Montserrat-Light.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/montserrat/Montserrat-Italic.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf");
    /* IE9 Compat Modes */ }
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/montserrat/montserrat-v12-latin-900.ttf"), url("../fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
/* --------------- */
@font-face {
    font-family: 'diplomaregular';
    src: url('diploma_regular-webfont.woff2') format('woff2'),
         url('diploma_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.accessRow td, .accessRow th {
    /* padding: 5px; */
    vertical-align: middle;
}

.accessRow td a {
    /* padding: 5px; */
   float:right;
}

.degreeCard {
    font-size: 1rem;
}

.diplomaFont {
    font-family: "diplomaregular";
}

.rem4{
    font-size: 4rem;
}

.degreeCard .majorFont {
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.degreeCard .signFont {
    font-size: 1.25rem;
    font-family: cursive;
    vertical-align: middle;
    text-decoration: underline;
    text-underline-position: under;

}

.form-group {
    margin: auto;
    margin-bottom:1rem;
}

.vertical-middle{
    vertical-align: middle;
}

.darkPurple {
    background-color: #65587f;
}

a .color-purple {
    background-color: #65587f;
    color: white;
}

a .color-purple:hover {
    background-color: white;
    color: #65587f;
}

.darkBlue {
    background-color: #30475e;
}

.grayish {
    background-color: #6c7b95;
}

.lightGreen {
    background-color: #84a9ac;
}

.rem1-25 {
    font-size:1.25rem;
}

.rem2{
    font-size:2rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom:150px;
    font-family: 'Montserrat';

}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.card, .displayNone {
    display: none;
}

.spinnerLoc {
    position: fixed;
    top: 30%;
    left: 50%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 3px solid green;
}

